.login-wrapper {
background: linear-gradient(
  135deg,
  #eeeae2 0%,
  #e8e3da 45%,
  #ddd7cc 100%
);
    animation: anim 11s ease infinite;
    background-size: 200%;
    color: white;
}
.login-wrapper>form{
    border: 1px solid #fff;
}
@keyframes anim {
    0% {
        background-position: 0% 50%;
    }

    20% {
        background-position: 100% 0%;
    }

    40% {
        background-position: 100% 100%;
    }

    60% {
        background-position: 0% 100%;
    }

    80% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}
