@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

body {
  background-color: #E8E3DA ;
  color: aliceblue;
  color: var(--color-text);
  min-height: 100%;
}
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}
